#four{
	background-color:#1f3b73;
	color:white;
}
#three{
	background-color:#1c5936;
	color:white;
}
#two{
	background-color:#f2b33d;
}
#one{
	background-color:#D97925;
}
#zero{
	background-color:#D96725;
}