#four{
	background-color:#1f3b73;
	text:white;
}
#three{
	background-color:#1c5936;
	text:white;
}
#two{
	background-color:#f2b33d;
}
#one{
	background-color:#D97925;
}
#zero{
	background-color:#D96725;
}
#grades{
	border:2px solid #1f3b73;
}