/* the whole page's capsule*/
body {
	width: 600px;
	height:auto;
	margin: 0 auto;
	border: 2px dashed #F27D52;
	padding: 5px 5px;
	background:url("../images/dark-canvas.gif");
	font-family: 'Roboto Condensed', sans-serif;
}
header {
    width: 431px;
    height:auto;
    padding: 2px;
    border:5px solid #A66249;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:2px 2px 2px;
}
/*for the aside and unordered lists*/
nav ul li {
	list-style-type: none;
	text-align: center;
	margin:0 3px;
	display:inline-block;
}
ul {
	list-style-type: none;
}
aside {
	font:small-caps bold 1em/140%;
}
/*headers and paragraphs*/
h1,h2,h3 {
	color:#546C85;
	background:#F27D52 linear-gradient(to bottom, #f6f8f9 0%,#d7dee3 25%,#f6f8f9 50%,#d7dee3 75%,#f5f7f9 100%)no-repeat;
	text-shadow:2px 2px 2px #A66249; 
	text-align:center;
}
p {
	color:#A66249;
	text-align:center;
}
/*animations for the links*/
a.link {
	text-decoration:none;
	color:#546C85;
}
a.visited {
	text-decoration:underline;
	color:#60a
}
a.hover {
	text-decoration:underline;
	color:#f00
}
a.active {
	text-decoration:underline;
	color:#1d5c00
}