/* the whole page's capsule*/
body {
	width: 98%;
	height:auto;
	margin: 1%;
	border: .5em dashed #F27D52;
	font-family: "Roboto Condensed",arial,sans-serif;
	background:url("../images/stop.png") no-repeat bottom right, url("../images/dark-canvas.gif");
	text-align:left;
	overflow:auto;
}

/*main header and nav*/
header {
    width: 50%;
    height:auto;
    padding: 1%;
    border:2px solid #A66249;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow:.1em .1em .1em #f6f8f9;
    box-sizing:content-box;
}

/*all paragraphs*/
p{
	color:#A66249;
	text-align:center;
}
/*floats*/
#directions{
	clear:both;
	float:left;
	width:98%;
	padding:1%;
	margin:1%;
	color:#546C85;
}
.food{
	float:left;
	width:25%;
	padding:1%;
	margin:1%;
}
aside,footer{
	clear:both
}

/*for the aside and unordered lists*/
nav ul li{
	list-style-type: none;
	text-align: center;
	margin:0 .5em;
	display:inline-block;
}
ul {
	list-style-type: none;
}

/*aside text*/
aside p{
	font:small-caps bold 1em/140%;
}

/*headers and paragraphs*/
h1,h2,h3 {
	color:#546C85;
	background:#f27d52 linear-gradient(to bottom, #f6f8f9 0%,#d7dee3 25%,#f6f8f9 50%,#d7dee3 75%,#f5f7f9 100%)no-repeat;
	text-shadow:.1em .1em .1em #A66249; 
	text-align:center;
}
figure{
	color:#f6f8f9;
}
/*table styling*/
table, th, td{
	border-collapse: collapse;
	padding: 5px 30px 5px 10px;
	font:.9em;
	margin:0;
	background:#e0e9f0;
	border-top:1px solid #f1f8fe;
	border-bottom:1px solid #cbd2d8;
	border-right:1px solid #cbd2d8;
	text-shadow:1px 1px 1px #fff;
	clear:both;
}
table .even{
	background-color:#e8eff5;
}
th {
	text-align:left;
}
td{
	text-align:right;
}
/*animations for the links*/
a:link {
	text-decoration:none;
	color:#999
	/*color:#546C85;*/
}
a:visited {
	text-decoration:underline;
	color:#999
}
a:hover {
	text-decoration:underline;
	color:#f00
}
a:active {
	text-decoration:underline;
	color:#1d5c00
}