body{
	font-family:ariel,verdena,sans-serif;
}
#container{
	border:1px solid #665544;
	background-color:#efefef;
	padding:10px;
}
h {
	color: #ee3e80;
}
p {
	color: #665544;
}
strong {
	color: green;
}
em {
	color:violet;
}